@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* { /*concerne la page css*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;    /*effet de fluidité si bouton navbar active*/
}



/*header*/



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.rubrique { /*logo à gauche du navbar*/
    font-size: 25px;
    color: #031540;
    text-decoration: none;  /*enlève deco lineaire du caractère si la police en crée*/
    font-weight: 700;   /*on modifie le bold*/
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: #00abf0;
}



/*Menu*/



.home {
    height: 100vh;
    background: linear-gradient(-90deg, #031540 65%, #fff 35%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

/*image menu*/
.home-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background: #031540;
    border-radius: 50%;
    border: 25px solid white;
    outline: 25px solid #031540;
}

.home-img img{
    position: relative;
    bottom: 5px;
    max-width: 650px;
    border: 10px solid white;
}

/*contenu menu*/
.home-content {
    max-width: 600px;
    color: white;
    text-align: right;
}

.home-content h1{
    font-size: 45px;
    line-height: 1.2;
}

.home-content h3{
    font-size: 27px;
    color: transparent;
    -webkit-text-stroke: .5px #fff;
    background-image: linear-gradient(#00abf0, #00abf0);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-position: -570px 0;
    animation: animeText 6s linear infinite;
}

@keyframes animeText {
    0%, 95%, 100%{
        background-position: -570px 0;
    }
    65%, 85%{
        background-position: 0 0;
    }
}

.home-content p{
    font-size: 15px;
    margin-top: 20px;
}

/*logo insta linkdin email*/
.home-logo {
    margin: 25px 0 40px;
}

.home-logo a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    margin-left: 12px;
    transition: 500ms;
}

.home-logo a:hover{
    background: #00abf0;
    color: #fff;
    border-color: #00abf0;
    box-shadow: 0 0 10px #00abf0;
}

/*Bouton CV Menu*/
.CV{
    padding: 15px 35px;
    background: #00abf0;
    border-radius: 40%;
    font-size: 17px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 10px #00abf0;
    transition: .5s;
}

.CV:hover{
    box-shadow: none;
}



/*About*/



#about {
    max-width: 910px;
    width: 90%;
    margin: 50px auto;
}

#about strong {
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 600px;
    font-size: 0.9rem;
    color: #8d94b4;
}

#about h2{
    font-size: 4rem;
    line-height: 4.4rem;
    color: #272727;
    font-weight: 800;
    margin-top: 10px;
}

.about-text{
    margin-top: 30px;
    max-width: 85%;
    margin-left: auto;
}

.about-text h3{
    font-size: 3rem;
    line-height: 3.4rem;
    color: #272727;
    font-weight: 300;
    margin-bottom: 20px;
}

.about-text p{
    color: #1a1a1a;
    margin-bottom: 20px;
    line-height: 1.4rem;
    letter-spacing: 0.3px;
}

.about-text a{
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8d94b43b;
    color: #1a1a1a;
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: none;
}

.about-text a i{
    margin-left: 10px;
}



/*realisation*/



#reel{
    width: 100%;
    margin: 50px auto 0px auto;
    background-color: #161616;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reel-head{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.reel-head strong{
    color: #8d94b4;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.reel-head h2{
    font-size: 2.2rem;
    color: #ffffff;
    max-width: 600px;
    font-weight: 700;
}

.reel-head p{
    color: #fff;
    margin-bottom: 20px;
    line-height: 1.4rem;
    letter-spacing: 0.3px;
    max-width: 700px;
}

.reel-box-container{
    max-width: 1200px;
    width: 90%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

/*mni page pour montrer realisation*/
.reel-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    border: 1px solid #242424;
    padding: 30px;
    background-color: #1a1a1a;
}

.reel-box i{
    font-size: 2rem;
    color: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8d94b43b;
}

.reel-box strong{
    color: #ffffff;
    font-size: 1.4rem;
    margin-top: 20px;
    font-weight: 600;
}

.reel-box p{
    color: #e7e7e7;
    font-size: 0.9rem;
    line-height: 1.4rem;
    overflow: hidden;
}

.reel-box:hover{
    border: 1px solid #8d94b4;
}



/*contact*/



#contact{
    width: 90%;
    max-width: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px auto;
    text-align: center;
}

.contact strong{
    color: #8d94b4;
    font-size: 0.87rem;
    letter-spacing: 1px;
    font-weight: 600;
}

.contact h3{
    color: #1d1d1d;
    font-size: 2.37rem;
    letter-spacing: 1px;
}

.contact p{
    color: #252525;
    font-weight: 500;
    max-width: 550px;
}

.contact a{
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8d94b43b;
    color: #1a1a1a;
    font-weight: 600;
    margin-top: 20px;
}

.contact a i{
    margin-left: 10px;
}

/*Bouton Envoyer*/
button{
    display: inline-block;
    width: fit-content;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    background: red;
    color: white;
    transition: .5s;
}

button:hover{
    background: #FFDAB9;
    border-color: #fff;
}

.uni{
    margin-top: 5rem;
}

.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 1rem;
}

.form-name{
    display: flex;
    gap: 0.8rem;
}

input, textarea{
    width: 100%;
    padding: 1rem;
    color: #1a1a1a;
    background: transparent;
    resize: none;
    border: none;
    border-bottom: 1px solid #000;
    padding: 5px;
    outline: none;
}

input:hover, 
textarea:hover{
    background: #c4c4c4;
    color: #F8F8FF;
}



/*footer*/



footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 950px;
    width: 100%;
    margin: 70px auto 0px auto;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #d8d8d8;
}

footer span{
    color: #313131;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9rem;
}

footer .footer-logo{
    color: #1f1f1f;
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 1.3rem;
}